header{
  box-shadow: 0px 0px 0px 0px;
}

.logo-mern img{
    width: 160px;
  height: 140px;
}
.logo-mern span {
 font-family:'Roboto' ; 
 font-size:bold;
}
/* .link-container {
  margin-left:1rem;
} */

.links {
  margin: 1rem;
  font-family: 'Roboto';
  font-weight:400;
  padding: 1rem;
}

.btn-container {
  display: flex;
  margin-left: 25rem;
}
@media screen and (min-width:1900px){
  .user-btn{
  margin-left: 80rem;
  }
  .btn-container{
  margin-left: 85rem;
  }
  }
  
  @media screen and (min-width:1651px) and (max-width:1900px){
  .user-btn{
  margin-left: 50rem;
  }
  .btn-container{
  margin-left: 65rem;
  }
  }
  
  @media screen and (min-width:1300px) and (max-width:1650px){
  .user-btn{
  margin-left: 45rem;
  }
  .btn-container{
  margin-left: 40rem;
  }
  }
  
  @media screen and (max-width:1300px){
  .user-btn{
  margin-left: 25rem;
  }
  .btn-container{
  margin-left: 20rem;
  }
  }
  
  @media screen and (max-width:1000px){
  .user-btn{
  margin-left: 10rem;
  }
  .btn-container{
  margin-left: 5rem;
  }
  }