.paciente-container{
    background-color:#3232ac;
    padding: 2rem;
    
   }.paciente-container h5{
       color: #fff;
       
      }
   
      .horarios{
       margin: .4rem;
      }
      .days{
       padding: .5rem
      }
      .time{
       display: grid;
       grid-template-columns: repeat(5,3fr);
   
      }
      .time a {
       margin: 0.5rem;
      }
   .btn-form{
    margin: 1rem;
   }